@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'ROBOTO',sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background: rgb(4, 111, 252);
}
.content{
    display: flex;
    margin-top: 60px;
    background: rgb(255, 255, 255);
    height: 25vh;
    max-width:500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    flex-direction: column;
}

.title{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    font-weight: bold;
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texts, .paragrafos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


h1.titulo{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.conteudo .botoes .botao{
    background: rgb(0, 110, 255);
    font-size: 20px;
    border-radius: 6px;
    width: 60px;
}

.conteudo .botoes .botao:hover{
    background: rgb(31, 98, 187);
}